/* Make the web page container take up the full screen */
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
}
ol {
    list-style-type: none; /* this will remove the numbers from the ordered list */
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
/* Use a responsive grid layout */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    width: 100%;
    margin: 0;
}

/* Style the input fields and buttons to take up the full width of their container */
input, textarea, button {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

/* Style the label to display above the input field */
label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Style the headings to be larger and centered */
h1 {
    text-align: center;
    font-size: 2em;
}

/* Style the "add list" buttons to be smaller and floated to the right */
button {
    font-size: 0.8em;
    float: right;
}

/* Style the output textarea to have a fixed height and a scrollbar */
#output {
    height: 50vh;
    overflow: auto;
    margin: 1em 0;
    padding: 0.5em;
    box-sizing: border-box;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    /* Reduce the font size on smaller screens */
    body {
        font-size: 14px;
    }
}
